# ===================================================================
# artellapipe-tools-lightrigsmanager requirements file
# ===================================================================

artellapipe-core